fastapi
uvicorn[standard]
python-multipart
requests
transformers[torch]
torch
googletrans==4.0.0-rc1
python-docx
PyMuPDF
sacremoses # Added for MarianMT tokenization
jinja2
sentencepiece
tensorflow
accelerate
langdetect
hf_xet